@import "./Map.css";
@import "./MarkerTable.css";
@import "./RemoteController.css";
@import "./DroneList.css";

.toListPage {
  width: 100px;
  font-size: 20px;
}

.toListPage-container {
  position: absolute;
  right: 1%;
  top: 20%;
  z-index: 2000;
}

/* 모바일 버전 스타일 */
@media (max-width: 768px) {
  .toListPage {
    width: 25px;
    font-size: 15px;
  }

  .toListPage-container {
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 2000;
  }
}
