body.dark-mode {
    background: #3B4346 url("images/bg01.jpg") !important;
    transition: 0.3s ease;
}

body {
    background: #101010 url("images/ddd.png") !important;
    transition: 0.3s ease;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
}
/* 
.infoContainer {
    padding-right: 50px;
    padding-left: 50px;
} */

.detail_body {
    background-color: var(--table-header-background);
    display: inline-block;
    border: 1px solid var(--table-header-text-color);
    border-radius: 8px;
    padding: 10px; /* 내부 여백을 추가해서 보기 좋게 설정 */
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto; /* 가운데 정렬 (부모 요소의 너비에 따라 조정) */
    max-width: 100%; /* 부모 요소를 넘어가지 않도록 설정 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */

}
.detailContainer, .predictContainer, .weatherInfoContainer {
    background-color: var(--table-row-background);
    border: 1px solid var(--table-header-text-color);
    color: var(--table-header-text-color);
    margin-top: 30px;
    padding: 20px;
}

#detail-title {
    color: var(--table-header-text-color);
}

#backBtn {
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}