@import "./DronePage.css";
@import "./Menubar.css";
@import "./Utilities.css";
@import "./Dashboard.css";
@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200");

/* 전역 박스 사이징 설정 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 여백 및 패딩 제거 */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* CSS 변수 정의: 기본 라이트 모드 */
:root {
  /* 주요 색상 */
  --primary-color: #a8a8a8;

  --border-radius: 5px; /* 테두리 반경 */
  --transition-speed: 0.3s; /* 전환 속도 */

  --table-header-background: var(--primary-color);
  --table-header-text-color: black; /* 헤더 텍스트 색상 */
  --table-row-background: rgb(235, 235, 235);
  --table-row-text-color: rgb(10, 10, 10);
  --bar-color: #8884d8;
  --bar-sub-color: #82ca9d;

  --button-disabled: white;
  --detail-btn-color: blue;

  --weather-info-row: rgb(235, 235, 235);

  --background-img: #101010 url("images/ddd.png");
}

/* 다크 모드 변수 */
body.dark-mode {
  --primary-color: #333;

  --border-radius: 5px; /* 테두리 반경 */
  --transition-speed: 0.3s; /* 전환 속도 */

  --table-header-background: var(--primary-color);
  --table-header-text-color: #00ec20;
  --table-row-background: #2b2b2b;
  --table-row-text-color: #00ec20;

  --bar-color: #00ec20;
  --bar-sub-color: deepskyblue;

  --button-disabled: rgb(37, 37, 37);
  --detail-btn-color: deepskyblue;

  --weather-info-row: rgb(235, 235, 235);

  --background-img: #3b4346 url("images/bg01.jpg");
}


body.dark-mode .header a img {
  content: url("image/어두운_로고.png"); /* 다크 모드에서 로고 */
  color: #f0f0f0;
}

/* 기본 레이아웃 */
body {
  background: #3b4346 url("images/bg01.jpg");
}

.custom_hr {
  border-color: #3b4346 !important; /* 기본 테두리 제거 */
  width: 100vw !important; /* 너비 설정 */
}

.planner {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  background: #181818 url("images/ddd.png") !important;
  transition: background var(--transition-speed) ease;
}

body.dark-mode .planner {
  background: #3b4346 url("images/bg01.jpg") !important;
}

hr {
  margin-top: 0px;
}

.main {
  padding-top: 15vh;
  min-height: 85vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  /* transition: background var(--transition-speed) ease; */
}

.title {
  margin: 0;
  font-size: 4vh;
}

/* 추가된 스타일 */

.main-container {
  display: flex;
  flex-wrap: wrap; /* 항목들이 두 줄로 감싸지도록 설정 */
  gap: 10px;
  padding: 20px;
  flex: 1;
  width: 80%;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
}

.main-container .section:nth-child(1),
.main-container .section:nth-child(2) {
  flex: 0 0 calc(50% - 10px);
}

.main-container .section:nth-child(3),
.main-container .section:nth-child(4) {
  flex: 0 0 calc(50% - 10px); /* 두 번째 줄에는 2개의 섹션이 50%씩 차지, gap을 고려하여 10px 빼기 */
}

.controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 요소 간 간격 */
  margin-top: 10px;
}

.file-name {
  font-size: 14px;
  color: gray;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* 버튼들을 가로로 정렬 */
  gap: 10px; /* 버튼들 사이 간격 */
}

.id-input {
  padding: 8px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 250px;
}

.add-all-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color var(--transition-speed) ease;
}

.add-all-button:hover {
  background-color: #45a049;
}

.add-all-button:disabled {
  background-color: #cccccc !important;
  cursor: not-allowed;
}

.add-button:disabled {
  background-color: #cccccc !important;
  cursor: not-allowed;
}

#idAddBtn {
  width: 100px;
  padding: 10px 16px;
  height: 40px;
  border: none;
  color: white;
  background-color: cornflowerblue;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease;
}

#idAddBtn:hover {
  background-color: var(--button-hover-color);
}

.section {
  position: relative;
  transition: all 0.3s ease;
  transform-origin: inherit;
  display: flex;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

body.dark-mode .section {
  background-color: var(--primary-color);
  color: var(--table-header-text-color);
}

#toggleBtn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#expandImg {
  width: 15px;
  transition: width var(--transition-speed) ease;
}

#expandImg:hover {
  width: 20px;
}

.section-container {
  background-color: var(--table-row-background);
}

.section-title {
  color: var(--table-header-text-color);
  font-size: 24px;
}
