/* 새로운 테이블 스타일 */
.list-section {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list-container {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    min-width: 600px;
    /* padding-bottom: 40px; */
}

.table-wrapper {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: aliceblue;
    border-radius: 4px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    
}

.data-table th,
.data-table td {
    padding: 8px;
    text-align: center;
    border: 2px solid black;
    color: black;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 내용이 넘치면 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트는 ...으로 표시 */
}

.data-table th {
    background-color: gray;
    font-weight: bold;
    position: sticky;
    top: 0;
}


.data-table tbody tr {
    background-color: aliceblue;
}

.data-table tbody tr:hover {
    background-color: rgb(204, 204, 204);
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.upload-button, .add-button {
    /* padding: 5px 15px; */
    background-color: #f0f0f0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.upload-button {
    width: 75px;
    font-size: 13px;
}

.upload-button:hover, .add-button:hover {
    background-color: #e0e0e0;
}

.add-button {
    width: 60px;
    color: black;
}

.selected-file {
    color: gray;
    border: none;

}

.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailBtn {
    padding: 5px 10px;
    border: 1px ridge black;
    border-radius: 4px;
    cursor: pointer;
}