/*Drone Menu*/
.drone-menu {
  position: absolute;
  top: 26%;
  right: 27%;
  background: var(--primary-color);
  border-radius: 12px;
  padding: 10px;
  height: 740px;
  width: 300px;
  text-align: center;
}

.drone-menu-title {
  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
}

/*Drone Port*/
.port-input {
  display: inline-block;
}

.port-input select {
  background-color: rgb(41, 41, 41);
  border-color: rgb(114, 114, 114);
  width: 100%;
  /* 입력 필드 너비 설정 */
  padding: 8px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

.port-input select::placeholder {
  color: #252525;
}


/*Drone Command*/
.command-btn-container {
  margin-top: 10%;
}

.btn-command {
  height: 40px;
  width: 100%;
  background: none;
  border: 1px solid #1d1d1d;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.btn-command-start:hover {
  background-color: rgb(0, 83, 151);
}

.btn-command-arming:hover {
  background-color: rgb(15, 131, 0);
}

.btn-command-stop:hover {
  background-color: rgb(161, 0, 0);
}



/*to List Page*/
.toListPage {
  width: 100px;
  font-size: 20px;
}




/* 모바일 버전 스타일 */
@media (max-width: 768px) {
  .remote-control-panel {
    top: 40%;
    right: 10%;
    height: 300px; /* 모바일에서는 높이를 줄임 */
    width: 200px; /* 모바일에서는 너비를 줄임 */
    opacity: 0.9;
  }

  .controller-title {
    font-size: 24px !important; /* 모바일에서 글꼴 크기 조정 */
  }

  .btn-command {
    height: 25px; /* 모바일에서 버튼 높이 조정 */
    font-size: 10px !important; /* 모바일에서 글꼴 크기 조정 */
  }
}

@media (max-width: 768px) {
  .toListPage {
    width: 25px;
    font-size: 15px;
  }

  .toListPage-container {
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 2000;
  }
}
